<section class="recent-work" id="recent-work">
	<div class="c-container">
		<h2 class="recent-work__title gradient-title">My Recent Work</h2>
		<p class="recent-work__intro">The goal is there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
		<div class="recent-work__projects">
			<div class="recent-work__projects__project">
				<img src="{{ image("project-bigbear.png") }}" alt="project bigbear">
				<a href="#" class="recent-work__projects__project__description">
					<h3 class="recent-work__projects__project__description__title">Bigbear.ai</h3>
					<p class="recent-work__projects__project__description__text">The goal is there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
					{{ load_svg("icon-arrow.svg") }}
				</a>
			</div>
			<div class="recent-work__projects__project">
				<img src="{{ image("project-oceansignal.png") }}" alt="project bigbear">
				<a href="#" class="recent-work__projects__project__description">
					<h3 class="recent-work__projects__project__description__title">Bigbear.ai</h3>
					<p class="recent-work__projects__project__description__text">The goal is there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
					{{ load_svg("icon-arrow.svg") }}
				</a>
			</div>
			<div class="recent-work__projects__project">
				<img src="{{ image("project-lion.png") }}" alt="project bigbear">
				<a href="#" class="recent-work__projects__project__description">
					<h3 class="recent-work__projects__project__description__title">Bigbear.ai</h3>
					<p class="recent-work__projects__project__description__text">The goal is there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
					{{ load_svg("icon-arrow.svg") }}
				</a>
			</div>
			<div class="recent-work__projects__project">
				<img src="{{ image("project-djuro.png") }}" alt="project bigbear">
				<div class="recent-work__projects__project__description">
					<h3 class="recent-work__projects__project__description__title">Bigbear.ai</h3>
					<p class="recent-work__projects__project__description__text">The goal is there are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
					{{ load_svg("icon-arrow.svg") }}
				</div>
			</div>
		</div>
	</div>
</section>
