<nav class="c-navbar js-navbar {{ is_admin_logged_in() ? 'admin-logged-in' : '' }} animate__animated ">
    <div class="c-container">
        <div class="navbar-logo-container">
		{#<img src="{{ image('logo-white.png') }}" alt="Logo">#}
			{{ load_svg("logo.svg") }}
        </div>
		<div class="navbar-navigation">
			<ul class="navbar-navigation__navigation">
				<li class="navbar-navigation__navigation__item js-nav-item">
					<a href="#hero">About</a>
				</li>
				<li class="navbar-navigation__navigation__item js-nav-item">
					<a href="#services">Services</a>
				</li>
				<li class="navbar-navigation__navigation__item js-nav-item">
					<a href="#skills">Skills</a>
				</li>
				<li class="navbar-navigation__navigation__item js-nav-item">
					<a href="#recent-work">Recent-work</a>
				</li>
				<li class="navbar-navigation__navigation__item js-nav-item">
					<a href="#experience">Experience</a>
				</li>
			</ul>
		</div>
		<span class="navbar-navigation-mobile-burger js-mobile-burger">
			{{ load_svg("icon-menu-burger.svg") }}
		</span>
		<div class="navbar-navigation-mobile close">
			<span class="navbar-navigation-mobile__close js-mobile-close">
				{{ load_svg("icon-close.svg") }}
			</span>
			<ul class="navbar-navigation-mobile__navigation">
				<li class="navbar-navigation-mobile__navigation__item js-nav-item">
					<a href="#hero">About</a>
				</li>
				<li class="navbar-navigation-mobile__navigation__item js-nav-item">
					<a href="#services">Services</a>
				</li>
				<li class="navbar-navigation-mobile__navigation__item js-nav-item">
					<a href="#skills">Skills</a>
				</li>
				<li class="navbar-navigation-mobile__navigation__item js-nav-item">
					<a href="#recent-work">Recent work</a>
				</li>
				<li class="navbar-navigation-mobile__navigation__item js-nav-item">
					<a href="#experience">Experience</a>
				</li>
			</ul>
		</div>
    </div>
</nav>
