<div class="c-recent-work-card wow animate__animated animate__fadeInUp">
	<img src="{{ image(image) }}" alt="{{ altText }}">
	<a href="{{ link }}" class="c-recent-work-card__description">
		<h3 class="c-recent-work-card__description__title">{{ title }}</h3>
		<p class="c-recent-work-card__description__text">{{ description }}</p>
		{{ load_svg("icon-arrow.svg") }}
	</a>
</div>
